REACT_APP_PRODUCT_API_ROUTE="http://localhost:8080/api/productos"
REACT_APP_CARRITO_API_ROUTE="http://localhost:8080/api/carrito"
REACT_APP_SOCKET_URL="http://localhost:3001"
REACT_APP_LOGIN_URL="http://localhost:8080/api/users/login"
REACT_APP_SIGNIN_URL="http://localhost:8080/api/users/signin"
REACT_APP_ISLOGGED_URL="http://localhost:8080/api/users/islogged"
REACT_APP_LOGOUT_URL="http://localhost:8080/api/users/logout"